<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home||Wel-Come</title>
</head>
    <style>
        .greet{
            color:red;
            text-align:center;
            margin-top:2rem
        }
        a{
            margin-left: 600px;
        }
    </style>
<body>
    <h1 class="greet">"Welcome to Express <span style="color:green">Web-App</span>"</h1>
    <a href="/register"><Button>Click Here</Button></a>
</body>
</html>